<div id="programs" class="bg-white">
    <div class="mx-auto max-w-7xl py-32 sm:py-48 lg:py-40 flex flex-col sm:flex-row items-center">
      <div class="flex-1 text-center">
        <h1 class="text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Our Programs</h1>
        <p class="mt-8 text-lg font-medium text-gray-500 sm:text-xl">Learn more about our courses at the Yale School of Arts</p>
        <div class="mt-10 flex items-center justify-center  gap-x-6">
          <a href="#" class="rounded-md bg-gray-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
          <a href="#" class="text-sm font-semibold text-gray-900">Learn more <span aria-hidden="true">→</span></a>
        </div>
      </div>
      <div class="flex-1 mt-12 sm:mt-0 p-4 sm:p-0">
        <img src="program.jpg" alt="Program Image" class="rounded-lg shadow-lg w-full object-cover h-full">
      </div>
    </div>
  </div>
  